body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    width: 861px;
    height: 135px;
    margin-top: 150px;
    background-color: transparent;
    transform: scale(0.4) rotate(-10deg) skew(10deg);
}

main img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}

main:hover img:nth-child(4) {
    transform: translate(120px, -120px);
    opacity: 0.8;
}

main:hover img:nth-child(3) {
    transform: translate(80px, -80px);
    opacity: 0.6;
}

main:hover img:nth-child(2) {
    transform: translate(40px, -40px);
    opacity: 0.4;
}

main:hover img:nth-child(1) {
    transform: translate(10px, -10px);
    opacity: 0.2;
}